log_format logs_json escape=json '{"team": "http-stats", '
                       '"http_host":"$host", '
                       '"remote_addr": "$remote_addr", '
                       '"remote_user": "$remote_user", '
                       '"server_name": "$server_name", '
                       '"@timestamp": "$time_iso8601", '
                       '"bytes_sent": "$bytes_sent",'
                       '"body_bytes_sent": "$body_bytes_sent", '
                       '"status": "$status", '
                       '"grauth": "$cookie_grauth", '
                       '"request": "$request", '
                       '"request_time": "$request_time", '
                       '"request_length": "$request_length", '
                       '"request_method": "$request_method", '
                       '"request_uri": "$request_uri", '
                       '"content_length": "$content_length", '
                       '"uri": "$uri", '
                       '"args":"$args",'
                       '"scheme": "$scheme", '
                       '"upstream_addr": "$upstream_addr", '
                       '"upstream_response_time": "$upstream_response_time", '
                       '"sent_http_set_cookie": "$sent_http_set_cookie", '
                       '"sent_http_location": "$sent_http_location", '
                       '"http_referrer": "$http_referer", '
                       '"http_user_agent": "$http_user_agent" }';